#spring:
#  application:
#    name: hello-spring-cloud-web-admin-feign
#  boot:
#    admin:
#      client:
#        url: http://localhost:8084
##  zipkin:
##    base-url: http://localhost:9411
#  thymeleaf:
#    cache: false
#    mode: LEGACYHTML5
#    encoding: UTF-8
#    servlet:
#      content-type: text/html
#
#server:
#  port: 8765
#
#feign:
#  hystrix:
#    enabled: true
#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/


##云配置
spring:
  cloud:
    config:
      uri: http://localhost:8888   #通过hello-spring-cloud-config 项目获取云端配置
      name: web-admin-feign
      label: master
      profile: dev
